<header class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow" style="background-color: #FFD3CA">

  <a class="navbar-brand col-md-0 col-lg-0 me-0 px-3 fs-3" href="/"><i class="bi bi-search-heart"></i></a>
  
  <form class="nav col-12 col-md-auto flex-fill mb-2 justify-content-center mb-md-0" role="search" action="/search" method="POST">
      <input type="search" name="searchTerm" class="form-control" placeholder="Buscar por Logradouro, Bairro ou Cidade" aria-label="Search"> 
  </form>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
</header>
<body>
  <div id="register">
    <aside>
      
      <strong>Cadastro de Imóvel<br/></strong>
    <form action = "/imoveis" method = "post">
        <p>
          <div className='input-block'>
          <label htmlFor = "logradouro"> Logradouro: </label>
          <input type="text" name="logradouro" required />
        </div>
      </p>
      <p>
        <div className='input-block'>
          <label htmlFor = "bairro"> Bairro: </label>
          <input type="text" name="bairro" />
        </div>
      </p>
      <p>
        <div className='input-block'>
          <label htmlFor = "cidade"> Cidade: </label>
          <input type="text" name="cidade" />
        </div>
        </p>
        <p>
        <div className='input-block'>
          <label htmlFor = "quartos"> Quartos: </label>
          <input type="number" name="quartos" />
        </div>
      </p>
      <p>
        <div className='input-block'>
          <label htmlFor = "banheiros"> Banheiros: </label>
          <input type="number" name="banheiros" />
        </div>
      </p>
      <p>
        <div className='input-block'>
          <label htmlFor = "vagas"> Vagas: </label>
          <input type="number" name="vagas" />
        </div>
      </p>
      <p>
        <div className='input-block'>
          <label htmlFor = "metragem"> Metragem: </label>
          <input type="number" name="metragem" />
        </div>
      </p>
      <p>
        <div className='input-block'>
          <label htmlFor = "valor"> Valor: </label>
          <input type="number" name="valor" />
        </div>
      </p>
      <button type = "submit" onClick="window.location.reload()" > Salvar </button>       
    </form>
  </aside>
</div>
<tabela>
  <div>
    
  </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="Id">ID</th>
          <th scope="Logradouro">Logradouro</th>
          <th scope="Bairro">Bairro</th>
          <th scope="Cidade">Cidade</th>
          <th scope="Quartos">Quartos</th>
          <th scope="Banheiros">Banheiros</th>
          <th scope="Vagas">Vagas</th>
          <th scope="Metragem">Metragem</th>
          <th scope="Valor">Valor</th>
        </tr>
      </thead>
      <tbody>
      <% propertiesList.forEach(dbProperties => { %>
        <tr>
          <th scope="row"><%= dbProperties._id %></th>
          <td><%= dbProperties.logradouro %></td>
          <td><%= dbProperties.bairro %></td>
          <td><%= dbProperties.cidade %></td>
          <td><%= dbProperties.quartos %></td>
          <td><%= dbProperties.banheiros %></td>
          <td><%= dbProperties.vagas %></td>
          <td><%= dbProperties.metragem %></td>
          <td><%= dbProperties.valor %></td>
          <td class="text-end">
            <div class="d-flex flex-row justify-content-end gap-2">
              <a href="/edit/<%= dbProperties._id %>" type="button" class="btn btn-secondary btn-small"><i class="bi bi-pencil"></i></a>
              <form action="/imoveis/<%= dbProperties._id %>?_method=DELETE" method="POST" class="position-relative">
                <button type="submit" class="btn btn-danger btn-small"><i class="bi bi-trash-fill"></i></button>
              </form>
            </div>
          </td>
        </tr>
      <% })%>
        
      </tbody>
      <div class="pagination">
        <% if (propertiesList.length > 0) { %>
          <nav aria-label="Dashboard Pagination">
            <ul class="pagination justify-content-center mt-5">        
              <% if (current == 1) { %>
                <li class="page-item disabled"><a href="#" class="page-link">First</a></li>
              <% } else { %>
                <li class="page-item"><a href="/imoveis/?page=1" class="page-link">First</a></li>
              <% } %>
        
              <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
              <% if(i !== 1) { %>
                <li class="page-item disabled"><a href="#" class="page-link">...</a></li>
              <% } %>
        
              <% for(; i <= (Number(current) + 4) && i <= pages; i++ ) { %>
                <% if (i == current) { %>
                  <li class="page-item disabled"><a href="#" class="page-link"><%= i %></a></li>
                <% } else { %>
                  <li class="page-item"><a href="/imoveis/?page=<%= i %>" class="page-link"><%= i %></a></li>
                <% } %>
                <% if (i == Number(current) + 4 && i < pages) { %>
                  <li class="page-item disabled"><a href="#" class="page-link">...</a></li>
                <% } %>
              <% } %>
        
              <% if (current == pages) { %>
                <li class="page-item disabled"><a href="#" class="page-link">Last</a></li>
              <% } else { %>
                <li class="page-item"><a href="/imoveis/?page=<%= pages %>" class="page-link">Last</a></li>
              <% } %>
        
            </ul>
          </nav>
        <% } %>
      </div>
    </table>
    
  </tabela>
  
  
</div>
</body>

